<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @person.label %>
</p>

<p>
  <strong>Content:</strong>
  <%= @person.content %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
